<!-- Static navbar -->
<nav class="main-navbar navbar navbar-default">
  <div class="container-fluid">

    <div id="navbar" class="">
      <ul class="nav navbar-nav">
        <li><img class="main-logo" src="images/ireach.PNG" alt="ireach logo" style="width:146px;"></li>
        <li class="active"><a ui-sref="app">Home</a></li>
        <li><a class="navbar-brand" ng-if="userType==='doctor'" href="/patients">Users</a></li>
        <li><a class="navbar-brand" ng-if="userType==='doctor' || userType==='admin'" href="/groups">Groups</a></li>            
        <li><a class="navbar-brand" ng-if="userType==='admin'" href="/admin">Admin</a></li>
        <li><a class="navbar-brand" ng-if="userType==='patient'" href="/patient_home">Home</a></li>
        
        <li><a ui-sref="about">About</a></li>
        <li><a ui-sref="contact">Contact</a></li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Dropdown <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="#">Action</a></li>
            <li><a href="#">Another action</a></li>
            <li><a href="#">Something else here</a></li>
            <li role="separator" class="divider"></li>
            <li class="dropdown-header">Nav header</li>
            <li><a href="#">Separated link</a></li>
            <li><a href="#">One more separated link</a></li>
          </ul>
        </li>
      </ul>
      <ul class="nav navbar-nav">
        <li><div user-panel style="float:right;padding-top: 10px;"></div></li>
      </ul>
    </div><!--/.nav-collapse -->
  </div><!--/.container-fluid -->
</nav>

<sricpt>

</script>