<!-- Static navbar -->
<nav class="main-navbar navbar navbar-default">
  <div class="container-fluid">

    <div id="navbar" class="">
      <ul class="nav navbar-nav">
        <li class="navbar-li not-hoverable"><img class="main-logo" src="images/ireach.PNG" alt="ireach logo" style="width:146px;"></li>
        <li class="navbar-li"><a ui-sref="app">Home</a></li>
        <li class="navbar-li"><a class="navbar-brand" ng-if="userType==='doctor' || userType==='patient'" href="#" ng-click="dashboard()">Dashboard</a></li>
        <li class="navbar-li"><a class="navbar-brand" ng-if="userType==='doctor' || userType==='admin'" href="#" ui-sref="groups">Groups</a></li>            
        <li class="navbar-li"><a class="navbar-brand" ng-if="userType==='admin'" ui-sref="admin">Admin</a></li>
      </ul>
      <ul class="nav navbar-nav pull-right">
        <li class="navbar-li"><a ui-sref="contact">Contact</a></li>
        <li class="navbar-li not-hoverable"><div user-panel style="padding-top: 10px; padding-left: 20px;"></div></li>
      </ul>
    </div><!--/.nav-collapse -->
  </div><!--/.container-fluid -->
</nav>