<div class="arrow arrow-northeast"></div>
<div ng-controller="DietAndFoodController">


  <h1>Diet and Activity</h1>
  <hr>
  <div ng-if="show==='diet'"
    <ul ng-repeat="diet in diets">
      <li>{{diet.food}}
        <ul>
          <li>{{diet.calories}}</li>
          <li>{{diet.created}}</li>
        </ul>
      </li>
    </ul>
  </div>
  <div ng-if="show==='activity'">
    <ul ng-repeat="act in activity">
      <li>{{act.name}}
        <ul>
          <li>{{act.calories}}</li>
          <li>{{act.created}}</li>
        </ul>
      </li>
    </ul>
  </div>

<button class="btn" ng-click="showDiet()">Show Diet</button>
<button class="btn" ng-click="showActivity()">Show Activity</button>


<script type="text/javascript">
  $(document).ready(function () {
    $('#div5').mouseover(function () {
      $('.arrow-northeast').show();
    });
    $('#div5').mouseout(function () {
      $('.arrow-northeast').hide();
    });
  });

  var expanded = false;
  $(".arrow-northeast").click(function () {
    expanded = !expanded;
    if (expanded) {
      $("#div1").hide();
      $("#div2").hide();
      $("#div3").hide();
      $("#div4").hide();
      $("#div6").hide();
      $("#div7").hide();
      $("#div5")
      .animate({
        height: '100%',
        width:'100%'
      }, 1000);
    }
    else {
      $("#div5")
      .animate({
        height: '48%',
        width:'48%'
      }, 1000);      
      $("#div1").show();
      $("#div2").show();
      $("#div3").show();
      $("#div4").show();
      $("#div6").show();
      $("#div7").show();
    }
  });
</script>