$icon-font-path: "../bower_components/bootstrap-sass-official/assets/fonts/bootstrap/";
// bower:scss
@import "bootstrap-sass-official/assets/stylesheets/_bootstrap.scss";
// endbower

.main-app {
	padding-left: 100px;
	padding-right: 100px;
}

@media (min-width: 1200px) {
  .container {
    width: 970px;
  }
}