#diet {
  height:48%;
  width:100%;
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#fffdf3+0,ffed89+97,ffed89+99 */
  background: #fffdf3; /* Old browsers */
  background: -moz-linear-gradient(top,  #fffdf3 0%, #ffed89 97%, #ffed89 99%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fffdf3), color-stop(97%,#ffed89), color-stop(99%,#ffed89)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  #fffdf3 0%,#ffed89 97%,#ffed89 99%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  #fffdf3 0%,#ffed89 97%,#ffed89 99%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  #fffdf3 0%,#ffed89 97%,#ffed89 99%); /* IE10+ */
  background: linear-gradient(to bottom,  #fffdf3 0%,#ffed89 97%,#ffed89 99%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fffdf3', endColorstr='#ffed89',GradientType=0 ); /* IE6-9 */
  text-align:center;
  float: left;

  overflow-y: auto;
  overflow-x: hidden;
}
.dashboard-divider {
  height:2%;
  width:100%;
  float: left;
 }
#activity {
  height:48%;
  width:100%;
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#cff0fb+34,cff0fb+35,74d8f6+81,74d8f6+81 */
  background: #cff0fb; /* Old browsers */
  background: -moz-linear-gradient(top,  #cff0fb 34%, #cff0fb 35%, #74d8f6 81%, #74d8f6 81%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(34%,#cff0fb), color-stop(35%,#cff0fb), color-stop(81%,#74d8f6), color-stop(81%,#74d8f6)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  #cff0fb 34%,#cff0fb 35%,#74d8f6 81%,#74d8f6 81%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  #cff0fb 34%,#cff0fb 35%,#74d8f6 81%,#74d8f6 81%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  #cff0fb 34%,#cff0fb 35%,#74d8f6 81%,#74d8f6 81%); /* IE10+ */
  background: linear-gradient(to bottom,  #cff0fb 34%,#cff0fb 35%,#74d8f6 81%,#74d8f6 81%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cff0fb', endColorstr='#74d8f6',GradientType=0 ); /* IE6-9 */
  text-align:center;
  float: left;

  overflow-y: auto;
  overflow-x: hidden;  
}

div.page-wrap   { 
  width: 100%; 
}

div.corner-div {
  position: relative;
}
