
     #top_div
     {
       height:48%;
       width:48%;
       background-color:#FFFF99;
       margin:auto;
       text-align:center;
       float: left;
     }
     #center1_div
     {
       height:2%;
       width:2%;
       margin:auto;
       float: left;
     }
     #right1_div
     {
       height:48%;
       width:48%;
       background-color:#9999FF;
       margin:auto;
       float: left;
     }
     #middle_div
     {
       height:2%;
       width:100%;
       margin:auto;
       float: left;
     }

     #top2_div
     {
       height:48%;
       width:48%;
       background-color:#99FFFF;
       margin:auto;
       text-align:center;
       float: left;
     }
     #center2_div
     {
       height:2%;
       width:2%;
       margin:auto;
       float: left;
     }
     #right2_div
     {
       height:48%;
       width:48%;
       background-color:#CC9999;
       margin:auto;
       float: left;
     }