
     #div1
     {
       height:48%;
       width:48%;
       background-color:#FFFF99;
       margin:auto;
       text-align:center;
       float: left;
     }
     #div2
     {
       height:2%;
       width:2%;
       margin:auto;
       float: left;
     }
     #div3
     {
       height:48%;
       width:48%;
       background-color:#9999FF;
       margin:auto;
       text-align:center;
       float: left;
     }
     #div4
     {
       height:2%;
       width:100%;
       margin:auto;
       float: left;
     }

     #div5
     {
       height:48%;
       width:48%;
       background-color:#99FFFF;
       margin:auto;
       text-align:center;
       float: left;
     }
     #div6
     {
       height:2%;
       width:2%;
       margin:auto;
       float: left;
     }
     #div7
     {
       height:48%;
       width:48%;
       background-color:#CC9999;
       margin:auto;
       text-align:center;
       float: left;
     }