<title>Patients</title>

    <div class="main">
      <h1 class="page-header">Patients</h1>


      <input type="text" ng-model="search" placeholder="Search"> 

      <div class="table-responsive">
        <table class="table table-striped">
          <thead>
            <tr>
              <th>
                <a href="" style="color:red;"
                  ng-click="order('email')">
                  ID
                </a>
                <span class="sortorder" ng-show="predicate==='email'" ng-class="{reverse:reverse}"></span>
              </th>
              <th ng-hide>
                <a href="" style="color:red;"
                  ng-click="order('group')">
                  Group
                </a>
                <span class="sortorder" ng-show="predicate==='group'" ng-class="{reverse:reverse}"></span>
              </th>
              <th>
                <a href="" style="color:red;"
                  ng-click="order('first_name')">
                  First Name
                </a>
                <span class="sortorder" ng-show="predicate==='first_name'" ng-class="{reverse:reverse}"></span>
              </th>
              <th>
                <a href="" style="color:red;"
                  ng-click="order('last_name')">
                  Last Name
                </a>
                <span class="sortorder" ng-show="predicate==='last_name'" ng-class="{reverse:reverse}"></span>
              </th>
              <th>
                <a href="" style="color:red;"
                  ng-click="order('sex')">
                  Sex 
                </a>
                <span class="sortorder" ng-show="predicate==='sex'" ng-class="{reverse:reverse}"></span>
              </th>
              <th>
                <a href="" style="color:red;"
                  ng-click="order('age')">
                  Age
                </a>
                <span class="sortorder" ng-show="predicate==='age'" ng-class="{reverse:reverse}"></span>
              </th>
              <th>
                <a href="" style="color:red;"
                  ng-click="order('height')">
                  Height (in)
                </a>
                <span class="sortorder" ng-show="predicate==='height'" ng-class="{reverse:reverse}"></span>
              </th>
              <th>
                <a href="" style="color:red;"
                  ng-click="order('weight')">
                  Weight (lb)
                </a>
                <span class="sortorder" ng-show="predicate==='weight'" ng-class="{reverse:reverse}"></span>
              </th>
              <th>
                <a href="" 
                  ng-click="order('bmi')">
                  BMI Score
                </a>
                <span class="sortorder" ng-show="predicate==='bmi'" ng-class="{reverse:reverse}"></span>
              </th>
              <th>
                <a href="" 
                  ng-click="order('bmi')">
                  BMI Category 
                </a>
                <span class="sortorder" ng-show="predicate==='bmi'" ng-class="{reverse:reverse}"></span>
              </th>
            </tr>
          </thead>
          <tbody>

          <tr ng-repeat="patient in patients | orderBy:predicate:reverse" ng-show="firstContainsSecond(patient,search)">
            <td><a href="/user/{{patient.email}}">{{patient.email}}</a></td>
            <td><p ng-repeat="each_group in patient.group">{{each_group}}</p></td>
            <td><a href="/user/{{patient.email}}">{{patient.first_name}}</a></td>
            <td><a href="/user/{{patient.email}}">{{patient.last_name}}</a></td>
            <td>{{patient.sex}}</td>
            <td>{{patient.age}}</td>
            <td>{{patient.height}}</td>
            <td>{{patient.weight}}</td>

            <td 
              ng-init="bmi=Math.round((patient.weight/(patient.height*patient.height))*703)">
              {{bmi}}
            </td>

            <!-- http://www.nhlbi.nih.gov/health/educational/lose_wt/BMI/bmicalc.htm -->
            <td ng-if="bmi < 18.5">Underweight</td>
            <td ng-if="18.5 <= bmi && bmi <= 24.9">Normal Weight</td>
            <td ng-if="25.0 <= bmi && bmi <= 29.9">Overweight</td>
            <td ng-if="30.0 <= bmi">Obese</td>


          </tr>
          </tbody>
        </table>
      </div>

    </div>